<div class="Row">
  <div class="Column">
      <div class="col-md-8 text-center"> 
          <a [routerLink]="['/addService']"><button class="btn btn-success" >Add Service</button></a>
      </div>
  </div>
  <div class="Column">
      <div class="col-md-8 text-center"> 
          <a [routerLink]="['/addBranch']"><button class="btn btn-success" >Add Branch</button></a>
      </div>
  </div>
  <div class="Column">
    <div class="col-md-8 text-center"> 
        <a [routerLink]="['/addTypeOfVehicle']"><button class="btn btn-success" >Add Type</button></a>
    </div>
</div>
<div class="Column">
    <div class="col-md-8 text-center"> 
        <a [routerLink]="['/addVehicle']"><button class="btn btn-success" >Add Vehicle</button></a>
    </div>
</div>
</div>