<h1>Service</h1>
<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of services">
        <tr>
            <td style="width: 250px;"><img width="200" src='{{item.Logo}}' />Slika</td>
            <td>Name: {{item.Name}}</td>
            <td>Description: {{item.Description}}</td>
            <td>Email: {{item.Email}}</td>
            <td><button (click)="deleteService(item.Id)" type="button" class="btn btn-danger">Delete Service</button></td>
        </tr>
    </tbody>
</table>

<h1>Branches</h1>
<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of braches">
        <tr>
            <td style="width: 250px;"><img width="200" src='{{item.Logo}}' />Slika</td>
            <td>Adress: {{item.Address}}</td>
            <td>Latitude: {{item.Latitude}}</td>
            <td>Longitude: {{item.Longitude}}</td>
            <td>Server name: {{item.ServerName}}</td>
            <td><button (click)="deleteBranch(item.Id)" type="button" class="btn btn-danger">Delete Branch</button></td>
        </tr>
    </tbody>
</table>

<h1>Vehicles</h1>
<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of vehicles">
        <tr>
            <td style="width: 250px;"><img width="200" src='{{item.Image}}' />Slika</td>
            <td>Type: {{item.TypeOfVehicle}}</td>
            <td>Model: {{item.Model}}</td>
            <td>Manufactor: {{item.Manufactor}}</td>
            <td>Year: {{item.Year}}</td>
            <td>Description: {{item.Description}}</td>
            <td>Price per hour: {{item.PricePerHour}}</td>
            <td>Server name: {{item.ServerName}}</td>
            <td><button (click)="deleteVehicle(item.Id)" type="button" class="btn btn-danger">Delete Vehicle</button></td>
        </tr>
    </tbody>
</table>