<html>
    <head>
     <style>
     * {
      margin: 0;
      padding: 0;
     }
     .imgbox {
      display: grid;
      height: 100%;
     }
     .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
     }
     </style>
    
    </head>
    <body>
            <h1 align = "center">Rent a car service - Vinjak Brigada</h1>
            <br>
     <div class="imgbox">
      <img class="center-fit" src="https://s.aolcdn.com/commerce/autodata/images/CAC50AUC171A121001.jpg">
     </div>
        <p align = "right">&copy; 2018 Vinjak Brigada<p></p>
    

    </body>
   </html>