<h1>Service</h1>
<br>
<br>

<div class="Row" *ngIf="isInRole('Manager') || isInRole('Admin')">
    <div class="col-md-1 text-center"> 
        <a [routerLink]="['/addService']"><button class="btn btn-success" >Add Service</button></a>
    </div>
  </div>
  <br>
  <br>
  <br>

<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of services">
        <tr>
            <td style="width: 250px;"><img width="200" src='{{item.Logo}}' />Slika</td>
            <td>Name: {{item.Name}}</td>
            <td>Description: {{item.Description}}</td>
            <td>Email: {{item.Email}}</td>
            <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteService(item.Id)" type="button" class="btn btn-danger">Delete Service</button></td>
        </tr>
    </tbody>
</table>
