
<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Add Branch</legend>
  
  <!-- File Button --> 
  <div class="form-group">
    <label class="col-md-4 control-label" for="filebutton">Picture</label>
    <div class="col-md-4">
      <input id="Logo" name="Logo" class="input-file" type="file" ngModel #Logo="ngModel">
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Adress:</label>  
    <div class="col-md-4">
    <input id="Adress" name="Adress" type="text" placeholder="" class="form-control input-md" ngModel required #Adress="ngModel">    
    </div>
  </div>
  
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Adress.errors && (Adress.dirty || Adress.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Adress.errors.required">
            Adress is required!
          </div>
          <div [hidden]="!Adress.errors.pattern">
            Adress form is invalid!
          </div>
      </div>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Latitude:</label>  
    <div class="col-md-4">
    <input id="Latitude" name="Latitude" type="number" placeholder="" class="form-control input-md" ngModel required #Latitude="ngModel">   
    </div>
  </div>
  
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Latitude.errors && (Latitude.dirty || Latitude.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Latitude.errors.required">
            Latitude is required!
          </div>
          <div [hidden]="!Latitude.errors.pattern">
            Latitude form is invalid!
          </div>
      </div>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Longitude:</label>  
    <div class="col-md-4">
    <input id="Longitude" name="Longitude" type="number" placeholder="" class="form-control input-md" ngModel required #Longitude="ngModel">   
    </div>
  </div>
  
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Longitude.errors && (Longitude.dirty || Longitude.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Longitude.errors.required">
            Longitude is required!
          </div>
          <div [hidden]="!Longitude.errors.pattern">
            Longitude form is invalid!
          </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Server name:</label>  
    <div class="col-md-4">
    <input id="ServerName" name="ServerName" type="text" placeholder="" class="form-control input-md" ngModel required #ServerName="ngModel">    
    </div>
  </div>
  
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="ServerName.errors && (ServerName.dirty || ServerName.touched)"
            class="alert alert-danger">  
          <div [hidden]="!ServerName.errors.required">
            Server name is required!
          </div>
          <div [hidden]="!ServerName.errors.pattern">
            Server name form is invalid!
          </div>
      </div>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" [disabled]="!f.valid"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
  
  </fieldset>
  </form>
  
  