<h1>Branches</h1>
<br>
<br>
<br>

<div class="Row">    
      <div align="center">
        <p>
          <!-- Kreiramo mapu -->
          <agm-map id="Mapa" name="Mapa"  align="center" [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="13">
           
            <!-- Postavljamo markere -->
            <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat" (markerClick)="selectMarker(data)" [longitude]="data.Lgt"></agm-marker>
            
          </agm-map>
        </p>
        </div>
  </div>

<br>
<br>
<div class="Row">
  <div align="center"> 
      <a *ngIf="isInRole('Manager') || isInRole('Admin')"  [routerLink]="['/addBranch']"><button class="btn btn-success" >Add Branch</button></a>
  </div>
</div>
<br>
<br>
<br>
<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of braches">
        <tr>
            <td><img style="width:100%; max-width: 100px;" src='{{item.Logo}}' /></td>
            <td>Adress: {{item.Address}}</td>
            <td>Latitude: {{item.Latitude}}</td>
            <td>Longitude: {{item.Longitude}}</td>
            <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="changeBranch(item.Id)" type="button" class="btn btn-warning">Change Branch</button></td>
            <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteBranch(item.Id)" type="button" class="btn btn-danger">Delete Branch</button></td>
        </tr>
    </tbody>
</table>
