<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Rent Vehicle</legend>
  
  
  
 
  <div class="form-group">
    <p align="center">Select the Branch on map:</p>
    
      <div align="center">
        
          <!-- Kreiramo mapu -->
          <agm-map align="center" id="Mapa" name="Mapa" align="center" [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="13" (mapClick)="placeMarker($event)">
           
            <!-- Postavljamo markere -->
            
            <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat"   [longitude]="data.Lgt">
              <agm-info-window [latitude]="data.Latitude" [longitude]="data.Longitude" >
                <a type="submit" class="btn btn-primary" (click)="selectMarker(data)">Set Branch</a>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        
        </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="(this.tempMarker.Lat == -1 || this.tempMarker.Lat == -1)"
            class="alert alert-danger">  
          <div [hidden]="!Mapa.errors.required">
            Branch is required!
          </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Vehicle</label>  
    <div class="col-md-4">
      <select class="form-control" name="Vehicle" id="Vehicle" ngModel required #Vehicle="ngModel">
          <option *ngFor="let t of vehicle" value="{{t.Id}}">{{t.Id}}</option>

      </select>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Vehicle.errors && (Vehicle.dirty || Vehicle.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Vehicle.errors.required">
            Vehicle is required!
          </div>
          <div [hidden]="!Vehicle.errors.pattern">
            Vehicle form is invalid
          </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="DateOfBirth">Start Date</label>
    <div class="col-md-4">
      <input type="date" name="Start" class="form-control" required length="10" ngModel #Start="ngModel">
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
    <div *ngIf="Start.errors && (Start.dirty || Start.touched)" class="alert alert-danger">
      <div [hidden]="!Start.errors.required">
        Date is required!
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="DateOfBirth">End Date</label>
  <div class="col-md-4">
    <input type="date" name="End" class="form-control" required length="10" ngModel #End="ngModel">
  </div>
</div>
<div class="row">
  <div class="col col-lg-4 col-lg-push-4">
  <div *ngIf="End.errors && (End.dirty || End.touched)" class="alert alert-danger">
    <div [hidden]="!End.errors.required">
      Date is required!
    </div>
  </div>
</div>
</div>




  
  <!-- Button -->

  <div align="center">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" [disabled]="!f.valid">Rent</button>
  </div>
<br>
<br>
<br>
<br>
<div align="center">
  <b>Want to pay now?</b>
</div>
<br>
<br>

  <div align="center">
    <button title="heheh" type="submit" (click)="payWithPayPal()" [disabled]="!f.valid" class="btn btn-success">Rent with paypal</button>
  </div>

  
  </fieldset>
</form>
<br>
<div align="center">
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</div>
<br>




  

  
