<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <fieldset>
  
  <!-- Form Name -->
  <legend>Rent Vehicle</legend>
  
  
  
 
  <div class="form-group">
    <p align="center">Select the Branch on map:</p>
    
      <div align="center">
        <p>
          <!-- Kreiramo mapu -->
          <agm-map id="Mapa" name="Mapa" align="center" [latitude]="mapInfo.centerLat" [longitude]="mapInfo.centerLong" [zoom]="13" (mapClick)="placeMarker($event)">
           
            <!-- Postavljamo markere -->
            
            <agm-marker *ngFor="let data of markers;" [latitude]="data.Lat" (markerClick)="selectMarker(data)" [longitude]="data.Lgt"></agm-marker>
          </agm-map>
        </p>
        </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="(this.tempMarker.Lat == -1 || this.tempMarker.Lat == -1)"
            class="alert alert-danger">  
          <div [hidden]="!Mapa.errors.required">
            Latitude is required!
          </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Vehicle</label>  
    <div class="col-md-4">
      <select class="form-control" name="Vehicle" id="Vehicle" ngModel required #Vehicle="ngModel">
          <option *ngFor="let t of vehicle" value="{{t.Id}}">{{t.Id}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Vehicle.errors && (Vehicle.dirty || Vehicle.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Vehicle.errors.required">
            Vehicle is required!
          </div>
          <div [hidden]="!Vehicle.errors.pattern">
            Vehicle form is invalid
          </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" for="DateOfBirth">Date of Return</label>
    <div class="col-md-4">
    <input type="date" name="End" class="form-control" required length="10" ngModel #End="ngModel">
  </div>
    <div *ngIf="End.errors && (End.dirty || End.touched)" class="alert alert-danger">
      <div [hidden]="!End.errors.required">
        Birthday is required!
      </div>
    </div>
</div>
 
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" [disabled]="!f.valid"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
  
  </fieldset>
  </form>