<h1 align=center>Vehicles</h1>
<br>
<br>
<div class="Row">
  <div class="col-md-1 text-center"> 
      <a *ngIf="isInRole('Manager') || isInRole('Admin')" [routerLink]="['/addVehicle']"><button class="btn btn-success" >Add Vehicle</button></a>
  </div>
</div>
<br>
<br>
<br>
<h4 style="font-family: 'Times New Roman', Times, serif">Search or filter results here</h4>
<br>
<hr>
<select class="col-md-2 text-center" (change)="selectOptions($event)">
    <option style="background-color: aqua" value="Filter" selected>Filter</option>
    <option style="background-color: aqua" value="Search">Search</option>
</select>

<div  *ngIf="options=='Filter'">
        <textarea style="background-color: aliceblue; border-style:solid" [ngModel]="data" (ngModelChange)="doSomething($event)"></textarea>
        <select class="col-md-1 text-center" (change)="selectChangeHandler($event)">
            <option style="background-color: aqua" value="Model" selected>Model</option>
            <option style="background-color: aqua" value="Price">Price</option>
        </select>
        
        <table class="table table-striped table-dark" *ngIf="search==''">
                <tbody *ngFor = "let item of vehicles">
                    <tr *ngIf="item.Unavailable == false">
                        <td><img style="width:100%; max-width: 100px;" src='{{item.Image}}' /></td>
                        <td><b>Model:</b><br> {{item.Model}}</td>
                        <td><b>Manufactor:</b><br> {{item.Manufactor}}</td>
                        <td><b>Year:</b><br> {{item.Year}}</td>
                        <td><b>Description:</b><br> {{item.Description}}</td>
                        <td><b>Price per hour:</b><br> {{item.PricePerHour}}</td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="UnavailableVehicle(item.Id)" type="button" class="btn btn-warning">Set Vehicle Unavailable</button></td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteVehicle(item.Id)" type="button" class="btn btn-danger">Delete Vehicle</button></td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-striped table-dark" *ngIf="search!=''">
                <tbody *ngFor = "let item of vehiclesSearch">
                    <tr *ngIf="item.Unavailable == false">
                        <td><img style="width:100%; max-width: 100px;" src='{{item.Image}}' /></td>
                        <td><b>Model:</b><br> {{item.Model}}</td>
                        <td><b>Manufactor:</b><br> {{item.Manufactor}}</td>
                        <td><b>Year:</b><br> {{item.Year}}</td>
                        <td><b>Description:</b><br> {{item.Description}}</td>
                        <td><b>Price per hour:</b><br> {{item.PricePerHour}}</td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="UnavailableVehicle(item.Id)" type="button" class="btn btn-warning">Set Vehicle Unavailable</button></td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteVehicle(item.Id)" type="button" class="btn btn-danger">Delete Vehicle</button></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
</div>

<div *ngIf="options=='Search'">
        <textarea style="background-color: aqua" [ngModel]="data" (ngModelChange)="doSomething2($event)"></textarea>
        <select style="border:blue" class="col-md-1 text-center" (change)="selectSearch($event)">
                <option style="background-color: aqua" value="Model" selected>Model</option>
                <option style="background-color: aqua" value="Price"><b>Price</b>b</option>
        </select>
        <button (click)="SearchVehicle()" type="button" class="btn btn-primary">Search</button>
            
            <table class="table table-striped table-dark">
                <tbody *ngFor = "let item of vehiclesSearch">
                    <tr *ngIf="item.Unavailable == false">
                        <td><img style="width:100%; max-width: 100px;" src='{{item.Image}}' /></td>
                        <td><b>Model:</b><br> {{item.Model}}</td>
                        <td><b>Manufactor:</b><br> {{item.Manufactor}}</td>
                        <td><b>Year:</b><br> {{item.Year}}</td>
                        <td><b>Description:</b><br> {{item.Description}}</td>
                        <td><b>Price per hour:</b><br> {{item.PricePerHour}}</td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="UnavailableVehicle(item.Id)" type="button" class="btn btn-warning">Set Vehicle Unavailable</button></td>
                        <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteVehicle(item.Id)" type="button" class="btn btn-danger">Delete Vehicle</button></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
</div>




<br>
<br>
<div *ngIf="vehicles.length > 0">
<h1 *ngIf="(isInRole('Manager') || isInRole('Admin'))">Unavailable vehicles</h1>
<br>
<br>
<table class="table table-striped table-dark" >
    <tbody *ngFor = "let item of vehicles">
            <tr *ngIf="(isInRole('Manager') || isInRole('Admin')) && item.Unavailable == true">
                <td><b>Model:</b><br> {{item.Model}}</td>
                <td><b>Manufactor:</b><br> {{item.Manufactor}}</td>
                <td><b>Year:</b><br> {{item.Year}}</td>
                <td><b>Description:</b><br> {{item.Description}}</td>
                <td><b>Price per hour:</b><br> {{item.PricePerHour}}</td>
                <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="UnavailableVehicle(item.Id)" type="button" class="btn btn-warning">Set Vehicle Available</button></td>
                <td><button *ngIf="isInRole('Manager') || isInRole('Admin')" (click)="deleteVehicle(item.Id)" type="button" class="btn btn-danger">Delete Vehicle</button></td>
            </tr>
    </tbody>
</table>
</div>